/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Fira Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
  word-wrap: break-word;
}
.input-container {
  animation: 1s ease-out 0s 1 animate;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  .input-wrapper {
    background-color: white;
    border-radius: 1 1 0.28571429rem 0.28571429rem;
  }
  .slide-right {
    animation: 1s ease-out 0s 1 animate;
  }
  .toolbar {
    padding: 0.5rem;
    background: #3dadf2;
    min-width: 100% !important;
    font-size: 1.2em;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
    border-radius: 10px 10px 0px 0px;
  }
  textarea {
    font-family: "Fira Sans", sans-serif;
    padding: 0.5rem;
    border-style: solid;
    resize: none;
    height: 380px;
    min-width: 100% !important;
    margin-bottom: 16px;
    border-radius: 0px 0px 10px 10px;
    &:placeholder {
      text-align: center;
    }
  }
  strong {
    display: inline-block;
    margin-top: 20px;
  }
  .file-error-msg {
    margin-top: 20px;
  }
  .dropzone {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    vertical-align: center;
    height: 408px;
    position: relative;
  }
  .file-preview {
    position: absolute;
    top: 60px;
    left: 108px;
    display: inline-block;
    margin: 16px;
    min-height: 100px;
    cursor: default;
    .file-preview-img {
      border-radius: 20px;
      background: linear-gradient(to bottom, #eee, #ddd);
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10;
      cursor: default;
      img {
        display: block;
      }
    }
    .file-preview-details {
      opacity: 1;
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%;
      cursor: default;
    }
    .file-preview-details-size {
      margin-bottom: 1em;
      font-size: 16px;
      cursor: default;
      span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px;
        cursor: default;
      }
    }
    .file-preview-details-filename {
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
      span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px;
      }
    }
  }
}
.lean-canvas {
  animation: 1s ease-out 0s 1 animate;
  display: grid;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  .canvas-main {
    margin: 8px auto;
    width: 70vw;
    height: calc(100vh - 16px);
    position: relative;
    border-radius: 8px;
    border: 2px solid #325bcd;
    background-color: rgb(255, 255, 255);
  }
  .canvas-control {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  .log-wrapper {
    // font-family: "Overpass Mono", monospace;
    font: 11pt/1.25 "Overpass Mono", monospace;
    z-index: 100;
    min-height: 180px;
    background-color: rgb(78, 78, 78);
    position: absolute;
    top: 20%;
    left: calc(50% - 248px);
    width: 496px;
    .log-wrapper-content {
      position: relative;
      .close-btn {
        background-color: white;
        opacity: 1;
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
      }
    }
    .debug {
      color: Snow;
    }
    .info {
      color: LawnGreen;
    }
    .warn {
      color: GoldenRod;
    }
    .error {
      color: LightCoral;
    }
  }
  .previewer {
    border-right: 2px solid rgba(0, 0, 0, 0.178);
    padding: 1rem;
    li {
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: lightblue;
      ul,
      ol {
        padding: 0.3rem;
        margin: 0.3rem;
        li {
          padding: 0.1rem;
          margin: 0.1rem;
          background-color: linen;
        }
      }
    }
  }
}
.canvas-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  h1 {
    font-size: 28px;
    font-weight: 700;
    height: 48px;
    margin-bottom: 0;
    padding: 0.5rem;
    letter-spacing: 1px;
  }
}
.lean-canvas-container {
  display: grid;
  grid-gap: 1rem;
  height: calc(100vh - 64px);
  width: 70vw;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-areas:
    "a a b b d d e e g g"
    "a a c c d d f f g g"
    "h h h h h i i i i i";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  .box {
    background-color: #d6d6d6;
    box-shadow: 6px 5px 4px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 0.5rem;
    border-radius: 0.4rem;
    .box-icon {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 10;
    }
    .box-right-traingle {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 5;
      width: 40px;
      height: 40px;
      border-bottom: solid 20px transparent;
      border-left: solid 20px transparent;
      border-right: solid 20px rgb(200, 30, 50);
      border-radius: 0.4rem;
      border-top: solid 20px rgb(200, 30, 50);
    }

    h2 {
      z-index: 10;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-right: 1rem;
    }
    h3 {
      z-index: 10;
      margin-top: 1rem;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-right: 1rem;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.25px;
      padding: 0.2rem;
    }
    .box-card-container {
      list-style: none;
    }
    li {
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: thistle;
      ul,
      ol {
        padding: 0.25rem;
        margin: 0.25rem;
        li {
          padding: 0.2rem;
          margin: 0.2rem;
          background-color: rgb(230, 124, 117);
        }
      }
    }
  }

  .a {
    grid-area: a;
    .box-right-traingle {
      border-right-color: rgb(101, 64, 131);
      border-top-color: rgb(101, 64, 131);
    }
  }
  .b {
    grid-area: b;
    .box-right-traingle {
      border-right-color: orange;
      border-top-color: orange;
    }
    // background-color: teal;
  }
  .c {
    grid-area: c;
    .box-right-traingle {
      border-right-color: rgb(218, 69, 99);
      border-top-color: rgb(218, 69, 99);
    }
  }
  .d {
    grid-area: d;
    .box-right-traingle {
      border-right-color: rgb(89, 120, 141);
      border-top-color: rgb(89, 120, 141);
    }
    // background-color: rgb(253, 130, 108);
  }
  .e {
    grid-area: e;
    .box-right-traingle {
      border-right-color: rgb(48, 221, 48);
      border-top-color: rgb(48, 221, 48);
    }
    // background-color: rebeccapurple;
  }
  .f {
    grid-area: f;
    .box-right-traingle {
      border-right-color: rgb(150, 138, 33);
      border-top-color: rgb(150, 138, 33);
    }
    // background-color: wheat;
  }
  .g {
    grid-area: g;
    .box-right-traingle {
      border-right-color: rgb(133, 77, 108);
      border-top-color: rgb(133, 77, 108);
    }
    // background-color: palegoldenrod;
  }
  .h {
    grid-area: h;
    .box-right-traingle {
      border-right-color: rgb(35, 126, 168);
      border-top-color: rgb(35, 126, 168);
    }
    // background-color: palegreen;
  }
  .i {
    grid-area: i;
    .box-right-traingle {
      border-right-color: rgb(68, 93, 233);
      border-top-color: rgb(68, 93, 233);
    }
    // background-color: lightcoral;
  }
}

.error-container {
  display: flex;
  // grid-gap: 1rem;
  height: calc(100vh - 64px);
  width: 70vw;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  place-content: center;
  text-align: center;
  background: black;
  color: white;
  path {
    animation: rotate 1s infinite;
  }

  path:nth-of-type(2) {
    animation-delay: 0.2s;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    stroke-dasharray: 5;
    stroke-dashoffset: 7.3;
  }
  to {
    stroke-dasharray: 5;
    stroke-dashoffset: 17.3;
  }
}
