/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Fira Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.input-container {
  // display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  .toolbar {
    margin-left: 1px;
    margin-right: 1px;
    padding: 0.5rem;
    background: #3dadf2;
    width: 360px;
    // font-family: "Lora", serif;
    font-size: 1.2em;
    font-weight: 600;
    // padding: 7px 15px;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
  }
  textarea {
    font-family: "Fira Sans", sans-serif;
    padding: 0.5rem;
    border-style: solid;
    // border-width: 1.5px;
    border-bottom-width: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
    &:placeholder {
      text-align: center;
    }
  }
  strong {
    display: inline-block;
    margin-top: 20px;
  }
  .file-error-msg {
    margin-top: 20px;
  }
  .dropzone {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    vertical-align: center;
    // border: 2px dashed;
    min-height: 380px;
    position: relative;
  }
  .file-preview {
    position: absolute;
    top: 60px;
    left: 108px;
    display: inline-block;
    // vertical-align: top;
    margin: 16px;
    min-height: 100px;
    cursor: default;
    .file-preview-img {
      border-radius: 20px;
      // background: #999;
      background: linear-gradient(to bottom, #eee, #ddd);
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10;
      cursor: default;
      img {
        display: block;
      }
    }
    .file-preview-details {
      opacity: 1;
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      // opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%;
      cursor: default;
    }
    .file-preview-details-size {
      margin-bottom: 1em;
      font-size: 16px;
      cursor: default;
      span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px;
        cursor: default;
      }
    }
    .file-preview-details-filename {
      // overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
      span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px;
      }
    }
  }
}
.lean-canvas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .previewer {
    li {
      // display: inline-flex;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: lightblue;
      ul {
        padding: 0.3rem;
        margin: 0.3rem;
        // background-color: lightpink;
        li {
          padding: 0.1rem;
          margin: 0.1rem;
          background-color: linen;
        }
      }
    }
  }
}

.lean-canvas-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  display: grid;
  grid-gap: 1rem;
  height: 100vh;
  width: 50vw;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-areas:
    "a a b b d d e e g g"
    "a a c c d d f f g g"
    "h h h h h i i i i i";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  .box {
    position: relative;
    padding: 0.5rem;
    border-radius: 0.4rem;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-color: transparent;
      border-style: solid;
    }
    &:before {
      border-width: 1.5em;
    }
    &:after {
      border-radius: 0.4rem;
      border-width: 1.5rem;
      border-right-color: #0c0;
      border-top-color: #0c0;
    }
    h2 {
      z-index: 10;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  .a {
    grid-area: a;
    background-color: tan;
  }
  .b {
    grid-area: b;
    background-color: teal;
  }
  .c {
    grid-area: c;
    background-color: thistle;
  }
  .d {
    grid-area: d;
    background-color: rgb(253, 130, 108);
  }
  .e {
    grid-area: e;
    background-color: rebeccapurple;
  }
  .f {
    grid-area: f;
    background-color: wheat;
  }
  .g {
    grid-area: g;
    background-color: palegoldenrod;
  }
  .h {
    grid-area: h;
    background-color: palegreen;
  }
  .i {
    grid-area: i;
    background-color: lightcoral;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
